astropy==5.3
astroquery==0.4.6
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
html5lib==1.1
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
jeepney==0.8.0
keyring==23.13.1
more-itertools==9.1.0
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pycparser==2.21
pyerfa==2.0.0.3
pyvo==1.4.1
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.31.0
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.4.1
urllib3==2.0.3
webencodings==0.5.1
zipp==3.15.0
